<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.responsesUserMission.home.title">User Missions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-user-mission" [routerLink]="['/user-mission/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gatewayApp.responsesUserMission.home.createLabel">
            Create a new User Mission
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="userMissions?.length === 0">
        <span jhiTranslate="gatewayApp.responsesUserMission.home.notFound">No userMissions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="userMissions && userMissions.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userId"><span jhiTranslate="gatewayApp.responsesUserMission.userId">User Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="missionId"><span jhiTranslate="gatewayApp.responsesUserMission.missionId">Mission Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userCityId"><span jhiTranslate="gatewayApp.responsesUserMission.userCity">User City</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let userMission of userMissions ;trackBy: trackId">
                    <td><a [routerLink]="['/user-mission', userMission.id, 'view']">{{ userMission.id }}</a></td>
                    <td>{{ userMission.userId }}</td>
                    <td>{{ userMission.missionId }}</td>
                    <td>
                        <div *ngIf="userMission.userCityId">
                            <a [routerLink]="['/user-city', userMission.userCityId , 'view']" >{{ userMission.userCityId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/user-mission', userMission.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/user-mission', userMission.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(userMission)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
