<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userMission">
            <h2><span jhiTranslate="gatewayApp.responsesUserMission.detail.title">User Mission</span> {{ userMission.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.responsesUserMission.userId">User Id</span></dt>
                <dd>
                    <span>{{ userMission.userId }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.responsesUserMission.missionId">Mission Id</span></dt>
                <dd>
                    <span>{{ userMission.missionId }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.responsesUserMission.userCity">User City</span></dt>
                <dd>
                    <div *ngIf="userMission.userCityId">
                        <a [routerLink]="['/user-city', userMission.userCityId, 'view']">{{ userMission.userCityId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-mission', userMission.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
