<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userCity">
            <h2><span jhiTranslate="gatewayApp.responsesUserCity.detail.title">User City</span> {{ userCity.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.responsesUserCity.userId">User Id</span></dt>
                <dd>
                    <span>{{ userCity.userId }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.responsesUserCity.cityId">City Id</span></dt>
                <dd>
                    <span>{{ userCity.cityId }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-city', userCity.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
