<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="missionImage">
            <h2><span jhiTranslate="gatewayApp.missionsMissionImage.detail.title">Mission Image</span> {{ missionImage.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.missionsMissionImage.fileName">File Name</span></dt>
                <dd>
                    <span>{{ missionImage.fileName }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.missionsMissionImage.mission">Mission</span></dt>
                <dd>
                    <div *ngIf="missionImage.missionId">
                        <a [routerLink]="['/mission', missionImage.missionId, 'view']">{{ missionImage.missionId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/mission-image', missionImage.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
