<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.missionsMissionImage.home.title">Mission Images</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-mission-image" [routerLink]="['/mission-image/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gatewayApp.missionsMissionImage.home.createLabel">
            Create a new Mission Image
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="missionImages?.length === 0">
        <span jhiTranslate="gatewayApp.missionsMissionImage.home.notFound">No missionImages found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="missionImages && missionImages.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.missionsMissionImage.fileName">File Name</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.missionsMissionImage.mission">Mission</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let missionImage of missionImages ;trackBy: trackId">
                    <td><a [routerLink]="['/mission-image', missionImage.id, 'view']">{{ missionImage.id }}</a></td>
                    <td>{{ missionImage.fileName }}</td>
                    <td>
                        <div *ngIf="missionImage.missionId">
                            <a [routerLink]="['/mission', missionImage.missionId , 'view']" >{{ missionImage.missionId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/mission-image', missionImage.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/mission-image', missionImage.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(missionImage)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
