<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mission">
            <h2><span jhiTranslate="gatewayApp.missionsMission.detail.title">Mission</span> {{ mission.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.missionsMission.name">Name</span></dt>
                <dd>
                    <span>{{ mission.name }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.missionsMission.text">Text</span></dt>
                <dd>
                    <span>{{ mission.text }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.missionsMission.imageBase">Image Base</span></dt>
                <dd>
                    <span>{{ mission.imageBase }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.missionsMission.city">City</span></dt>
                <dd>
                    <div *ngIf="mission.cityId">
                        <a [routerLink]="['/city', mission.cityId, 'view']">{{ mission.cityId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/mission', mission.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
