<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.missionsMission.home.title">Missions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-mission" [routerLink]="['/mission/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gatewayApp.missionsMission.home.createLabel">
            Create a new Mission
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="missions?.length === 0">
        <span jhiTranslate="gatewayApp.missionsMission.home.notFound">No missions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="missions && missions.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="gatewayApp.missionsMission.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="text"><span jhiTranslate="gatewayApp.missionsMission.text">Text</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="imageBase"><span jhiTranslate="gatewayApp.missionsMission.imageBase">Image Base</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cityId"><span jhiTranslate="gatewayApp.missionsMission.city">City</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let mission of missions ;trackBy: trackId">
                    <td><a [routerLink]="['/mission', mission.id, 'view']">{{ mission.id }}</a></td>
                    <td>{{ mission.name }}</td>
                    <td>{{ mission.text }}</td>
                    <td>{{ mission.imageBase }}</td>
                    <td>
                        <div *ngIf="mission.cityId">
                            <a [routerLink]="['/city', mission.cityId , 'view']" >{{ mission.cityId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/mission', mission.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/mission', mission.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(mission)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
