<div class="card">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <h5 class="card-header">{{city?.name}}</h5>
    <div class="card-body">
        <ngb-carousel *ngIf="city.imageBase && city.images && city.images!.length > 0">
            <ng-template ngbSlide *ngFor="let image of city.images">
                <div class="picsum-img-wrapper">
                    <img *ngIf="city.imageBase" src="{{city.imageBase + image}}">
                </div>
            </ng-template>
        </ngb-carousel>

        <p class="card-text">{{city?.text}}</p>
        <div>
            <fa-icon [icon]="faThumbsUp"></fa-icon>
            <fa-icon [icon]="faHeart"></fa-icon>
            <fa-icon [icon]="faShare"></fa-icon>
            <a [routerLink]="['/citypage', city.id]"><fa-icon [icon]="faEye"></fa-icon></a>
            <a (click)="subscribeToCity(city)"><fa-icon [icon]="faDollarSign"></fa-icon> </a>
        </div>
    </div>
</div>
