<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.missionsCityImage.home.title">City Images</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-city-image" [routerLink]="['/city-image/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gatewayApp.missionsCityImage.home.createLabel">
            Create a new City Image
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="cityImages?.length === 0">
        <span jhiTranslate="gatewayApp.missionsCityImage.home.notFound">No cityImages found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="cityImages && cityImages.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.missionsCityImage.fileName">File Name</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.missionsCityImage.city">City</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cityImage of cityImages ;trackBy: trackId">
                    <td><a [routerLink]="['/city-image', cityImage.id, 'view']">{{ cityImage.id }}</a></td>
                    <td>{{ cityImage.fileName }}</td>
                    <td>
                        <div *ngIf="cityImage.cityId">
                            <a [routerLink]="['/city', cityImage.cityId , 'view']" >{{ cityImage.cityId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/city-image', cityImage.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/city-image', cityImage.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(cityImage)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
