<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cityImage">
            <h2><span jhiTranslate="gatewayApp.missionsCityImage.detail.title">City Image</span> {{ cityImage.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.missionsCityImage.fileName">File Name</span></dt>
                <dd>
                    <span>{{ cityImage.fileName }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.missionsCityImage.city">City</span></dt>
                <dd>
                    <div *ngIf="cityImage.cityId">
                        <a [routerLink]="['/city', cityImage.cityId, 'view']">{{ cityImage.cityId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/city-image', cityImage.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
