<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-user-response-heading" jhiTranslate="gatewayApp.responsesUserResponse.home.createOrEditLabel">Create or edit a User Response</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.responsesUserResponse.objectiveId" for="field_objectiveId">Objective Id</label>
                    <input type="number" class="form-control" name="objectiveId" id="field_objectiveId"
                           formControlName="objectiveId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.responsesUserResponse.checked" for="field_checked">Checked</label>
                    <input type="checkbox" class="form-control" name="checked" id="field_checked"
                           formControlName="checked"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.responsesUserResponse.items" for="field_items">Items</label>
                    <input type="number" class="form-control" name="items" id="field_items"
                           formControlName="items"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.responsesUserResponse.points" for="field_points">Points</label>
                    <input type="number" class="form-control" name="points" id="field_points"
                           formControlName="points"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.responsesUserResponse.text" for="field_text">Text</label>
                    <input type="text" class="form-control" name="text" id="field_text"
                           formControlName="text"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.responsesUserResponse.userMission" for="field_userMission">User Mission</label>
                    <select class="form-control" id="field_userMission" name="userMission" formControlName="userMissionId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userMissionOption.id" *ngFor="let userMissionOption of usermissions; trackBy: trackById">{{ userMissionOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.responsesUserResponse.parent" for="field_parent">Parent</label>
                    <select class="form-control" id="field_parent" name="parent" formControlName="parentId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userResponseOption.id" *ngFor="let userResponseOption of userresponses; trackBy: trackById">{{ userResponseOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
