<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userResponse">
            <h2><span jhiTranslate="gatewayApp.responsesUserResponse.detail.title">User Response</span> {{ userResponse.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.responsesUserResponse.objectiveId">Objective Id</span></dt>
                <dd>
                    <span>{{ userResponse.objectiveId }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.responsesUserResponse.checked">Checked</span></dt>
                <dd>
                    <span>{{ userResponse.checked }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.responsesUserResponse.items">Items</span></dt>
                <dd>
                    <span>{{ userResponse.items }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.responsesUserResponse.points">Points</span></dt>
                <dd>
                    <span>{{ userResponse.points }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.responsesUserResponse.text">Text</span></dt>
                <dd>
                    <span>{{ userResponse.text }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.responsesUserResponse.userMission">User Mission</span></dt>
                <dd>
                    <div *ngIf="userResponse.userMissionId">
                        <a [routerLink]="['/user-mission', userResponse.userMissionId, 'view']">{{ userResponse.userMissionId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.responsesUserResponse.parent">Parent</span></dt>
                <dd>
                    <div *ngIf="userResponse.parentId">
                        <a [routerLink]="['/user-response', userResponse.parentId, 'view']">{{ userResponse.parentId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-response', userResponse.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
