<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.responsesUserResponse.home.title">User Responses</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-user-response" [routerLink]="['/user-response/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gatewayApp.responsesUserResponse.home.createLabel">
            Create a new User Response
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="userResponses?.length === 0">
        <span jhiTranslate="gatewayApp.responsesUserResponse.home.notFound">No userResponses found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="userResponses && userResponses.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="objectiveId"><span jhiTranslate="gatewayApp.responsesUserResponse.objectiveId">Objective Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="checked"><span jhiTranslate="gatewayApp.responsesUserResponse.checked">Checked</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="items"><span jhiTranslate="gatewayApp.responsesUserResponse.items">Items</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="points"><span jhiTranslate="gatewayApp.responsesUserResponse.points">Points</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="text"><span jhiTranslate="gatewayApp.responsesUserResponse.text">Text</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userMissionId"><span jhiTranslate="gatewayApp.responsesUserResponse.userMission">User Mission</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="parentId"><span jhiTranslate="gatewayApp.responsesUserResponse.parent">Parent</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let userResponse of userResponses ;trackBy: trackId">
                    <td><a [routerLink]="['/user-response', userResponse.id, 'view']">{{ userResponse.id }}</a></td>
                    <td>{{ userResponse.objectiveId }}</td>
                    <td>{{ userResponse.checked }}</td>
                    <td>{{ userResponse.items }}</td>
                    <td>{{ userResponse.points }}</td>
                    <td>{{ userResponse.text }}</td>
                    <td>
                        <div *ngIf="userResponse.userMissionId">
                            <a [routerLink]="['/user-mission', userResponse.userMissionId , 'view']" >{{ userResponse.userMissionId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="userResponse.parentId">
                            <a [routerLink]="['/user-response', userResponse.parentId , 'view']" >{{ userResponse.parentId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/user-response', userResponse.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/user-response', userResponse.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(userResponse)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
