<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="city">
            <h2><span jhiTranslate="gatewayApp.missionsCity.detail.title">City</span> {{ city.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.missionsCity.name">Name</span></dt>
                <dd>
                    <span>{{ city.name }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.missionsCity.text">Text</span></dt>
                <dd>
                    <span>{{ city.text }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.missionsCity.imageBase">Image Base</span></dt>
                <dd>
                    <span>{{ city.imageBase }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.missionsCity.pointGoal">Point Goal</span></dt>
                <dd>
                    <span>{{ city.pointGoal }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/city', city.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
