<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="objective">
            <h2><span jhiTranslate="gatewayApp.missionsObjective.detail.title">Objective</span> {{ objective.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.missionsObjective.name">Name</span></dt>
                <dd>
                    <span>{{ objective.name }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.missionsObjective.text">Text</span></dt>
                <dd>
                    <span>{{ objective.text }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.missionsObjective.type">Type</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'gatewayApp.ObjectiveType.' + objective.type }}">{{ objective.type }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.missionsObjective.order">Order</span></dt>
                <dd>
                    <span>{{ objective.order }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.missionsObjective.maxPoints">Max Points</span></dt>
                <dd>
                    <span>{{ objective.maxPoints }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.missionsObjective.pointsPerItem">Points Per Item</span></dt>
                <dd>
                    <span>{{ objective.pointsPerItem }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.missionsObjective.points">Points</span></dt>
                <dd>
                    <span>{{ objective.points }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.missionsObjective.imageBase">Image Base</span></dt>
                <dd>
                    <span>{{ objective.imageBase }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.missionsObjective.mission">Mission</span></dt>
                <dd>
                    <div *ngIf="objective.missionId">
                        <a [routerLink]="['/mission', objective.missionId, 'view']">{{ objective.missionId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.missionsObjective.parent">Parent</span></dt>
                <dd>
                    <div *ngIf="objective.parentId">
                        <a [routerLink]="['/objective', objective.parentId, 'view']">{{ objective.parentId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/objective', objective.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
