<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.missionsObjective.home.title">Objectives</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-objective" [routerLink]="['/objective/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gatewayApp.missionsObjective.home.createLabel">
            Create a new Objective
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="objectives?.length === 0">
        <span jhiTranslate="gatewayApp.missionsObjective.home.notFound">No objectives found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="objectives && objectives.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="gatewayApp.missionsObjective.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="text"><span jhiTranslate="gatewayApp.missionsObjective.text">Text</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="type"><span jhiTranslate="gatewayApp.missionsObjective.type">Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="order"><span jhiTranslate="gatewayApp.missionsObjective.order">Order</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="maxPoints"><span jhiTranslate="gatewayApp.missionsObjective.maxPoints">Max Points</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="pointsPerItem"><span jhiTranslate="gatewayApp.missionsObjective.pointsPerItem">Points Per Item</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="points"><span jhiTranslate="gatewayApp.missionsObjective.points">Points</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="imageBase"><span jhiTranslate="gatewayApp.missionsObjective.imageBase">Image Base</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="missionId"><span jhiTranslate="gatewayApp.missionsObjective.mission">Mission</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="parentId"><span jhiTranslate="gatewayApp.missionsObjective.parent">Parent</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let objective of objectives ;trackBy: trackId">
                    <td><a [routerLink]="['/objective', objective.id, 'view']">{{ objective.id }}</a></td>
                    <td>{{ objective.name }}</td>
                    <td>{{ objective.text }}</td>
                    <td jhiTranslate="{{ 'gatewayApp.ObjectiveType.' + objective.type }}">{{ objective.type }}</td>
                    <td>{{ objective.order }}</td>
                    <td>{{ objective.maxPoints }}</td>
                    <td>{{ objective.pointsPerItem }}</td>
                    <td>{{ objective.points }}</td>
                    <td>{{ objective.imageBase }}</td>
                    <td>
                        <div *ngIf="objective.missionId">
                            <a [routerLink]="['/mission', objective.missionId , 'view']" >{{ objective.missionId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="objective.parentId">
                            <a [routerLink]="['/objective', objective.parentId , 'view']" >{{ objective.parentId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/objective', objective.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/objective', objective.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(objective)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
