<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-objective-heading" jhiTranslate="gatewayApp.missionsObjective.home.createOrEditLabel">Create or edit a Objective</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.missionsObjective.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.missionsObjective.text" for="field_text">Text</label>
                    <input type="text" class="form-control" name="text" id="field_text"
                           formControlName="text"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.missionsObjective.type" for="field_type">Type</label>
                    <select class="form-control" name="type" formControlName="type" id="field_type">
                        <option value="PARENT">{{ 'gatewayApp.ObjectiveType.PARENT' | translate }}</option>
                        <option value="PERITEM">{{ 'gatewayApp.ObjectiveType.PERITEM' | translate }}</option>
                        <option value="CHECKBOX">{{ 'gatewayApp.ObjectiveType.CHECKBOX' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.missionsObjective.order" for="field_order">Order</label>
                    <input type="number" class="form-control" name="order" id="field_order"
                           formControlName="order"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.missionsObjective.maxPoints" for="field_maxPoints">Max Points</label>
                    <input type="number" class="form-control" name="maxPoints" id="field_maxPoints"
                           formControlName="maxPoints"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.missionsObjective.pointsPerItem" for="field_pointsPerItem">Points Per Item</label>
                    <input type="number" class="form-control" name="pointsPerItem" id="field_pointsPerItem"
                           formControlName="pointsPerItem"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.missionsObjective.points" for="field_points">Points</label>
                    <input type="number" class="form-control" name="points" id="field_points"
                           formControlName="points"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.missionsObjective.imageBase" for="field_imageBase">Image Base</label>
                    <input type="text" class="form-control" name="imageBase" id="field_imageBase"
                           formControlName="imageBase"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.missionsObjective.mission" for="field_mission">Mission</label>
                    <select class="form-control" id="field_mission" name="mission" formControlName="missionId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="missionOption.id" *ngFor="let missionOption of missions; trackBy: trackById">{{ missionOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.missionsObjective.parent" for="field_parent">Parent</label>
                    <select class="form-control" id="field_parent" name="parent" formControlName="parentId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="objectiveOption.id" *ngFor="let objectiveOption of objectives; trackBy: trackById">{{ objectiveOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
