<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="objectiveImage">
            <h2><span jhiTranslate="gatewayApp.missionsObjectiveImage.detail.title">Objective Image</span> {{ objectiveImage.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.missionsObjectiveImage.fileName">File Name</span></dt>
                <dd>
                    <span>{{ objectiveImage.fileName }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.missionsObjectiveImage.objective">Objective</span></dt>
                <dd>
                    <div *ngIf="objectiveImage.objectiveId">
                        <a [routerLink]="['/objective', objectiveImage.objectiveId, 'view']">{{ objectiveImage.objectiveId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/objective-image', objectiveImage.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
