<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.missionsObjectiveImage.home.title">Objective Images</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-objective-image" [routerLink]="['/objective-image/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gatewayApp.missionsObjectiveImage.home.createLabel">
            Create a new Objective Image
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="objectiveImages?.length === 0">
        <span jhiTranslate="gatewayApp.missionsObjectiveImage.home.notFound">No objectiveImages found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="objectiveImages && objectiveImages.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.missionsObjectiveImage.fileName">File Name</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.missionsObjectiveImage.objective">Objective</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let objectiveImage of objectiveImages ;trackBy: trackId">
                    <td><a [routerLink]="['/objective-image', objectiveImage.id, 'view']">{{ objectiveImage.id }}</a></td>
                    <td>{{ objectiveImage.fileName }}</td>
                    <td>
                        <div *ngIf="objectiveImage.objectiveId">
                            <a [routerLink]="['/objective', objectiveImage.objectiveId , 'view']" >{{ objectiveImage.objectiveId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/objective-image', objectiveImage.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/objective-image', objectiveImage.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(objectiveImage)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
